.tekst{
    color: indigo;
}
body {
    background: hotpink;
  
    font-size: 20px ;
  
}
h1{
    color:blue;
}
h2{
    color:red;
}
h3{
    color:turquoise;
}
h4 {
    color:pink;
}
h5{
    color:green;
    font-size: 20px;
}
.hero__button,
.hero__button-cancel{
background: wheat;
padding :10px;
min-width: 200px;
border: 1px solid black;
border-radius: 5px;
font-family: 'Roboto' , sans-serif; 
font-size : 20px;


}